*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--primary-color: #fff;
--secondary-color: #303030;
--accent-color: #e8631c;
}
h1,h2,p,a{
color: var(--primary-color);
}
/* Header ========================================================================================================= */
#header{
height: 100vh;
background: url(../img/bg/bg-1.png);
background-size: cover;
background-position: center;
}
.nav{
background: var(--secondary-color);
height: 100px;
}
.nav-wrap{
grid-template-columns: 1fr 1fr 1fr;
}
.nav ul{
list-style-type: none;
}
.nav a{
 text-transform: uppercase;
 margin: 0 35px;
 text-decoration: none;
 font-family: 'Oswald', sans-serif !important;
}
#search{
float: right;
}
.header-main{
height: calc(100vh - 100px);
grid-template-columns: 1fr 1fr;
}
#header-btn{
background: var(--accent-color);
-webkit-transition: 0.5s;
}
#header-btn:hover{
background: var(--secondary-color);
transition: 0.5s;
}
/* Tour section ========================================================================================================= */
#tour{
background: var(--accent-color);
padding: 100px 0;
}
.tour-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 50px;
}
.tour-wrap>div{
background: var(--secondary-color);
padding-bottom: 50px;
}
.tour-wrap img{
width: 100%;
}
.tour-wrap p{
 text-align: center;
}
.tour-wrap p:first-of-type{
text-transform: uppercase;
margin: 35px 0 20px;
font-family: 'Oswald', sans-serif !important;
}
.tour-wrap p:last-of-type{
font-family: 'Montserrat', sans-serif;
width: calc(100% - 100px);
margin: 0 auto;
}
/* Pricing section ========================================================================================================= */
#pricing{
background: var(--secondary-color);
padding: 100px 0;
}
.pricing-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 80px;
}
.pricing-wrap>div{
background: var(--accent-color);
padding: 60px 20px 25px;
border-radius: 10px;
}
.pricing-wrap img{
margin: 0 auto;
display: block;
}
.pricing-wrap p{
text-align: center;
}
.pricing-wrap p:first-of-type{
text-transform: uppercase;
font-family: 'Oswald', sans-serif !important;
margin: 30px 0;
}
.pricing-wrap p:last-of-type{
font-family: 'Montserrat', sans-serif;
}
.btn-price{
max-width: 100% !important;
text-align: center;
}
/* Utility classes ========================================================================================================= */
.container{
width: 90%;
margin: 0 auto;
}
.container-sm{
width: 70%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.align-center{
align-items: center;
}
.grid-container{
display: grid;
}
.text-xs{
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.text-sm{
font-size: 16px;
font-family: 'Oswald', sans-serif;
font-weight: 400;
}
.text-md{
font-size: 30px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.text-lg{
font-size: 80px;
font-family: 'Oswald', sans-serif;
font-weight: 700;
}
.text-xl{
font-size: 140px;
font-family: 'Oswald', sans-serif;
font-weight: 400;
}
.btn{
padding: 15px 80px;
text-transform: uppercase;
display: block;
margin-top: 50px;
text-decoration: none;
border-radius: 5px;
background: var(--secondary-color);
max-width: fit-content;
font-family: 'Oswald', sans-serif !important;
}
.btn:hover{
background: #000;
}
.section-headline{
text-align: center;
text-transform: uppercase;
}
.section-description{
text-align: center;
margin: 60px auto;
width: 60%;
min-width: 800px;
}
